<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: head_for_signup}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>회원가입 화면</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="../css/signup.css" rel="stylesheet">

</head>


<body>

<div class="container">
    <div class="py-5 text-center">

        <h2>회원가입 화면</h2>
    </div>

    <div class="row justify-content-center">
        <!--  form  -->
        <div class="col-md-8 ">
            <form class="needs-validation" novalidate="">

                <div class="mb-4">
                    <label for="email">Email <span class="text-muted"></span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                </div>

                <div class="mb-4">
                    <label for="nickname">닉네임</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">>></span>
                        </div>
                        <input type="text" class="form-control" id="nickname" placeholder="Nickname" required="">
                    </div>
                </div>

                <div class="mb-4">
                    <label for="passwordInput">비밀번호</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                </div>

                <div class="mb-5">
                    <label for="passwordInput">비밀번호 확인</label>
                    <input type="password" class="form-control" id="passwordCheck" placeholder="Password 확인">
                </div>

                <hr class="my-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">가입 하기</button>
            </form>
        </div>
    </div>

    <footer th:replace="~{fragment :: footer}" class="footer bg-light my-5 pt-5 text-muted text-center text-small">
        <div class="container">
            <span class="text-muted">형식상 footer</span>
        </div>
    </footer>
</div>


</body>
</html>