<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/
    dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 마이바티스의 작동 규칙정의 -->
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
    </settings>

    <!-- 타입별칭 -->
<!--    <typeAliases>-->
<!--        <typeAlias type="mygroup.boardservice.board.domain.VipPost" alias ="VipPost"/>-->
<!--        <typeAlias type="mygroup.boardservice.board.domain.CommonPost" alias ="CommonPost"/>-->
<!--        <typeAlias type="mygroup.boardservice.board.domain.Comment" alias ="Comment"/>-->
<!--        <typeAlias type="mygroup.boardservice.board.domain.User" alias ="User"/>-->
<!--        <typeAlias type="mygroup.boardservice.board.domain.Grade" alias="Grade"/>-->
<!--    </typeAliases>-->

    <!--    타입핸들러 등록-->
    <typeHandlers>
        <typeHandler handler="mygroup.boardservice.common.typehandler.CodeEnumTypeHandler"/>
    </typeHandlers>

    <!-- 데이터베이스및 트랜잭션 관리자-->
    <environments default="development">
        <environment id="development">
            <transactionManager type ="MANAGED"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


<!--     매퍼정의 -->
<!--    <mappers>-->
<!--        <mapper resource= "mapper/VipPostMapper.xml"/>-->
<!--        <mapper resource= "mapper/UserMapper.xml"/>-->
<!--    </mappers>-->


</configuration>

