<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mygroup.boardservice.board.adapter.out.persistence.mapper.CommentMapper">
    <resultMap id="CommentResultMap" type="Comment">
        <constructor>
            <idArg column="id" javaType="long"/>
            <arg column="content" javaType="string"/>
            <arg column="writer" javaType="string"/>
            <arg column="created_date" javaType="java.sql.Date"/>
            <arg column="modified_date" javaType="java.sql.Date"/>
            <arg column="post_id" javaType="long"/>
            <arg column="reply_target_id" javaType="Long" />
        </constructor>
    </resultMap>

    <select id="findById" parameterType="Long" resultMap="CommentResultMap">
        SELECT id, content, writer, created_date, modified_date, post_id, reply_target_id
        FROM vip_comment
        WHERE id=#{id};
    </select>

    <select id="findAll" parameterType="Long" resultMap="CommentResultMap">
        SELECT id, content, writer, created_date, modified_date, post_id, reply_target_id
        FROM vip_comment
        WHERE post_id = #{postId};
    </select>

    <insert id="save" parameterType="CommentSaveDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vip_comment(content, writer, created_date, modified_date, post_id, reply_target_id)
        VALUES(#{content}, #{writer}, #{createdDate}, #{modifiedDate}, #{postId}, #{replyTargetId});
    </insert>

    <update id="update" parameterType="CommentUpdateDto" >
        UPDATE vip_comment
        SET content = #{content},
            modified_date = #{modifiedDate}
        WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM vip_comment WHERE id = #{id};
    </delete>
</mapper>